<html ng-app = "myapp">
	<style>
		.clr{color:red;}
		.star{color:red;}
		.nameclr{color:red;}
		.emailclr{color:red;}
		.phnoclr{color:red;}
		.locationclr{color:red;}
	</style>

	<body>
		<div class="container">
		<center><h2 class="text-danger">New College</h2></center>
		<hr/>
		

			<form class="form-horizontal form-success" name="college"  ng-controller="collegecontroller"  novalidate><!--form starting-->
		    
		    <div class="form-group has-success" ><!--name div starting-->
		      <label class="control-label col-sm-4"for ="name"><span class="star">*</span> College Name:</label>
		       		
		      <div class="col-sm-4">
		        <input type="text" name="name" ng-model="name" class="form-control" placeholder="College Name"ng-pattern="/[a-z|A-Z|\s]/"required/>
		        		
		        <span ng-show = "college.name.$dirty && college.name.$invalid">
		        <span ng-show = "college.name.$error.required " class = "nameclr">Name is required</span>
		        <span ng-show = "college.name.$error.pattern" class = "nameclr">Enter name in correct format</span>
		      </div>
		  	</div><!--name div ending-->

		    <div class = "form-group has-success"><!--email div starting-->
		      <label class = "control-label col-sm-4" for = "name"><span class = "star">*</span>Email: </label>

		      <div class = "col-sm-4">
		      	<input type = "email" name = "email" ng-model = "email" class = "form-control" placeholder="Email" required/>
		      		
		      	<span ng-show = "college.email.$dirty && college.email.$invalid">
		      	<span ng-show = "college.email.$error.required" class = "emailclr">Email is required</span>
		      	<span ng-show = "college.email.$error.email"class = "emailclr">Enter valid Email</span>
		      </div>

				</div><!--email div ending-->

				<div class = "form-group has-success"><!--phone number div starting-->
		      <label class = "control-label col-sm-4" for = "phno"><span class = "star">*</span>Phone Number: </label>

		      <div class = "col-sm-4">
		      	<input type = "text" name = "phno" ng-model = "phno" class = "form-control" placeholder="Phone Number" ng-pattern = "/[0-9]/" ng-minlength = "10" ng-maxlength = "10" required>
		      			
		      	<span ng-show = "college.phno.$dirty && college.phno.$invalid">
		      	<span ng-show = "college.phno.$error.required" class = "phnoclr">Phone number is required</span>
		      	<span ng-show = "college.phno.$error.pattern" class = "phnoclr">Enter valid phone number</span>
		      	<span ng-show = "college.phno.$error.minlength" class = "phnoclr">number is less than 10 numbers</span>
	 					<span ng-show = "college.phno.$error.maxlength" class = "phnoclr">Number is greater than 10 numbers</span>
		      </div>

				</div><!--phone number div ending-->

				<div class = "form-group has-success"><!--location div starting-->
		      <label class = "control-label col-sm-4" for = "location"><span class = "star">*</span>Location: </label>

		      <div class = "col-sm-4">
		      	<input type = "text" name = "location" ng-model = "location" class = "form-control" placeholder="Location" ng-pattern = "/[a-z|A-Z|\s]/" required/>
		      		
		      	<span ng-show = "college.location.$dirty && college.location.$invalid">
		      	<span ng-show = "college.location.$error.required" class = "locationclr">Location is required</span>
		      	<span ng-show = "college.location.$error.pattern" class = "locationclr">Enter valid location</span>
		      </div>

				</div><!--location div ending-->

				<div class="form-group"><!--buttons div starting-->
		     	<div class="col-sm-offset-4 col-sm-4">
		     		<input type="button" value="Submit" class= "btn btn-info btn-sm"ng-click="add()"/>
		     		<input type="button" value="clear" class="btn btn-info btn-sm" ng-click="clear()"/>    
		     	</div>
		    </div><!--buttons div ending-->

		     			{{name}}

		  </form>
		</div>
	</body>	

	<script type="text/javascript">
		 var app = angular.module('myapp', []);
	      app.controller("collegecontroller",function($scope){
	      	$scope.clear=function(){
	      		$scope.name="";
	      		$scope.email="";
	      		$scope.phno="";
	      		$scope.location="";
	      	}
	      });
	</script>

</html>
