<html ng-app = "myapp">
	<style>
		.clr{color:red;}
		.star{color:red;}
		.nameclr{color:red;}
		.emailclr{color:red;}
		.dobclr{color:red;}
		.ageclr{color:red;}
	</style>

	<body>
		<div class="container">
		<center><h2 class="text-danger">New Student</h2></center>
		<hr/>
		

			<form class="form-horizontal form-success" name="student"  ng-controller="studentcontroller"  novalidate><!--form starting-->
		    
		    <div class="form-group has-success" ><!--name div starting-->
		      <label class="control-label col-sm-4"for ="name"><span class="star">*</span> Student Name:</label>
		       		
		      <div class="col-sm-4">
		        <input type="text" name="name" ng-model="name" class="form-control" placeholder="Student Name"ng-pattern="/[a-z|A-Z|\s]/"required/>
		        		
		        <span ng-show = "student.name.$dirty && student.name.$invalid">
		        <span ng-show = "student.name.$error.required " class = "nameclr">Name is required</span>
		        <span ng-show = "student.name.$error.pattern" class = "nameclr">Enter name in correct format</span>
		      </div>
		  	</div><!--name div ending-->

		    <div class = "form-group has-success"><!--email div starting-->
		      <label class = "control-label col-sm-4" for = "email"><span class = "star">*</span>Email: </label>

		      <div class = "col-sm-4">
		      	<input type = "email" name = "email" ng-model = "email" class = "form-control" placeholder="Email" required/>
		      		
		      	<span ng-show = "student.email.$dirty && student.email.$invalid">
		      	<span ng-show = "student.email.$error.required" class = "emailclr">Email is required</span>
		      	<span ng-show = "student.email.$error.email"class = "emailclr">Enter valid Email</span>
		      </div>

				</div><!--email div ending-->

			<div class="form-group has-success" ><!--dob div starting-->
		      <label class="control-label col-sm-4"for ="name"><span class="star">*</span> Student Name:</label>
		       		
		    <div class="col-sm-4">
		        <input type="text" name="dob" ng-model="dob" class="form-control" placeholder="dd-mm-yyyy"ng-pattern="/\d{2}\-\d{2}\-\d{4}/"required/>
		        		
		        <span ng-show = "student.dob.$dirty && student.dob.$invalid">
		        <span ng-show = "student.dob.$error.required " class = "dobclr">dob is required</span>
		        <span ng-show = "student.dob.$error.pattern" class = "dobclr">Enter dob in correct format</span>
		      </div>
		  	</div><!--dob div ending-->


		  	<div class="form-group has-success" ><!--dob div starting-->
		      <label class="control-label col-sm-4"for ="age"><span class="star">*</span> Student Age:</label>
		       		
		    <div class="col-sm-4">
		        <input type="text" name="age" ng-model="age" class="form-control" placeholder="Enter age"ng-pattern="/[0-9]/"required/>
		        		
		        <span ng-show = "student.age.$dirty && student.age.$invalid">
		        <span ng-show = "student.age.$error.required " class = "ageclr">age is required</span>
		        <span ng-show = "student.age.$error.pattern" class = "dobclr">Enter age in correct format</span>
		      </div>
		  	</div><!--dob div ending-->

				
				<div class="form-group"><!--buttons div starting-->
		     	<div class="col-sm-offset-4 col-sm-4">
		     		<input type="button" value="Submit" class= "btn btn-info btn-sm"ng-click="add()"/>
		     		<input type="button" value="clear" class="btn btn-info btn-sm" ng-click="clear()"/>    
		     	</div>
		    </div><!--buttons div ending-->

		     			{{name}}

		  </form>
		</div>
	</body>	

	<script type="text/javascript">
		 var app = angular.module('myapp', []);
	      app.controller("studentcontroller",function($scope){
	      	$scope.clear=function(){
	      		$scope.name="";
	      		$scope.email="";
	      		$scope.age="";
	      		$scope.dob="";
	      	}
	      });
	</script>

</html>
